<div class="py-2 flex justify-between">
    <div class="flex flex-col gap-1 text-light">
        <div class="flex gap-3">
            <fa-icon [icon]="faLandlord" class="text-light my-auto"></fa-icon>
            <p class="font-semibold">{{realEstate.landlord}}</p>
        </div>
        <div class="flex gap-3 justify-start">
            <input class="font-light" [(ngModel)] = "editableRealEstate.name" [disabled]="!editable" [ngClass]="editable ? 'editable' : 'not-editable'"/>
            <input class="text-medium" [(ngModel)] = "editableRealEstate.address" [disabled]="!editable" [ngClass]="editable ? 'editable' : 'not-editable'"/>
        </div>   
    </div>
    <div class="flex gap-3">
        <button title="Edit real estate" *ngIf="!editable" class="bg-accent hover:bg-opacity-90 active:bg-accent-dark w-10 h-10 shrink-0 my-auto" (click)="edit()">
            <fa-icon [icon]="faEdit" class="text-light my-auto"></fa-icon>
        </button>
        <button title="Save real estate" *ngIf="editable" class="bg-accent hover:bg-opacity-90 active:bg-accent-dark w-10 h-10 shrink-0 my-auto" (click)="save()">
            <fa-icon [icon]="faSave" class="text-light my-auto"></fa-icon>
        </button>
        <button (click)="handleEditTenants()" title="Edit tenants" class="bg-accent hover:bg-opacity-90 active:bg-accent-dark w-10 h-10 shrink-0 my-auto">
            <fa-icon [icon]="faTenants" class="text-light my-auto"></fa-icon>
        </button>
        <button (click)="openDeviceModal()" title="Edit devices" class="bg-accent hover:bg-opacity-90 active:bg-accent-dark w-10 h-10 shrink-0 my-auto">
            <fa-icon [icon]="faDevices" class="text-light my-auto"></fa-icon>
        </button>
    </div>
</div>
<app-edit-tenants [tenants]="realEstate.tenants" (newTenantAdded)="addNewTenant($event)" [realEstateId]="realEstate.id" [(visible)]="showEditTenantsModal"></app-edit-tenants>
<app-devices-modal [devices]="realEstate.devices" [(visible)]="showDevicesModal" (addNewDevice)="addNewDevice($event)"></app-devices-modal>
