<div class="flex justify-between bg-dark px-4 py-2">
  
  <!-- info -->
  <div class="flex justify-start my-auto w-1/3">
    <div class="relative shrink-0 my-auto">
      <img src="/assets/images/default_pfp.png" alt="profile picture" class="w-10 h-10 rounded-full my-auto border-black">
      <div *ngIf="user.locked" class="absolute flex flex-col justify-center top-0 left-0 w-10 h-10
      rounded-full bg-black bg-opacity-75 text-center">
        <fa-icon [icon]="faLock" class="text-light text-lg"></fa-icon>
      </div>
    </div>

    <div class="flex flex-col justify-between ml-4 my-auto">
      <div class="flex gap-x-4">
        <p class="text-light font-medium">{{user.name}}</p>
        <div class="text-medium font-medium text-xs my-auto">
          {{ user.role }}
        </div>
      </div>
      <div class="flex text-medium text-sm">
        <p>{{ user.email }}</p>
        <div *ngIf="user.emailVerified" class="ml-1 text-xs font-bold my-auto">✓</div>
      </div>
    </div>
  </div>
  
  <!-- actions -->
  <div class="flex justify-end my-auto gap-x-4">
    <button *ngIf="['ROLE_TENANT', 'ROLE_LANDLORD'].includes(user.role)"
    class="bg-accent hover:bg-opacity-90 active:bg-accent-dark
    h-10 shrink-0 my-auto px-4" (click)="handleRoleChange()">
      <div class="flex justify-center items-center gap-x-2 mx-auto">
        <fa-icon [icon]="faUserEdit" class="text-light my-auto"></fa-icon>
        <div class="text-light font-medium my-auto">CHANGE ROLE</div>
      </div>
    </button>
    <button class="bg-accent hover:bg-opacity-90 active:bg-accent-dark w-10 h-10 shrink-0 my-auto" (click)="handleRealEstate()">
      <fa-icon [icon]="faHouse" class="text-light my-auto"></fa-icon>
    </button>
    <button class="bg-gray-700 hover:bg-red-500 active:bg-red-600 w-10 h-10 shrink-0 my-auto" (click)="handleDelete()">
      <fa-icon [icon]="faTrash" class="text-light my-auto"></fa-icon>
    </button>
  </div>

</div>

<div *ngIf="showDeleteModal">
  <app-yes-no-modal
    [title]="'User deletion'"
    [description]="'Are you sure you want to delete this user?'"
    (yes)="sendDeletionRequest()"
    (no)="closeDeleteModal()"
  ></app-yes-no-modal>
</div>

<div *ngIf="showRoleChangeModal">
  <app-yes-no-modal
    [title]="'Role change'"
    [description]="roleChangeModalDescription"
    (yes)="sendRoleChangeRequest()"
    (no)="closeRoleChangeModal()"
  ></app-yes-no-modal>
</div>
