<aside class="z-[2000] h-full float-left w-72 bg-secondary-white drop-shadow-2xl flex flex-col justify-between" aria-label="Sidebar">
    <div class="flex flex-col">
        <!-- logo -->
        <div class="w-full flex flex-col justify-center h-24 pl-4">
          <img src="./assets/images/logo.png" alt="logo" class="w-[55%] my-auto">
        </div>
        
        <!-- public keys -->
        <div class="flex flex-col gap-y-3 font-semibold">
          <div *ngFor="let group of objectKeys(menus)">
            <h1 class="text-base text-secondary-gray font-medium pl-4">{{ group }}</h1>
            <div class="flex flex-col mt-2 cursor-pointer">
              
              <div *ngFor="let option of menus[group]"
               class="flex w-full text-sm font-medium pl-6 py-2 pr-2 relative"
               [ngClass]="option === chosenOption ? 'text-primary-violet bg-secondary-hover' : 'text-primary-gray-light bg-secondary-white hover:text-primary-violet hover:bg-secondary-hover'"
               (click)="navigate(option)">
               <div class="w-11 text-center"><fa-icon [icon]="option.icon" class="text-xl"></fa-icon></div>
               <p class="my-auto">{{ option.title }}</p>
               <div *ngIf="option.title === 'Threats' && unreadMessages > 0" class=" right-[45%] absolute bg-red-900 text-secondary-white font-semibold rounded-full flex items-center justify-center w-7 h-7 text-sm">{{unreadMessages}}</div>
              </div>
      
            </div>
          </div>
        </div>
      </div>
    
      <div class="pl-6 flex w-full text-sm font-medium  py-2 pr-2 text-primary-gray-dark hover:text-primary-violet hover:bg-secondary-hover cursor-pointer mb-4"
        (click)="signOut()">
        <div class="w-11 text-center"><fa-icon [icon]="faRightFromBracket" class="text-xl"></fa-icon></div>
        <p class="my-auto">Sign out</p>
      </div>
      
</aside>