<div class="fixed top-0 left-0 z-30 w-screen min-w-screen min-h-screen h-screen text-center
  flex items-center justify-center bg-dark bg-opacity-75 transition-opacity text-base font-display">
  <div class="relative flex flex-col w-96 bg-dark border-black border-2 shadow-md mx-auto
  overflow-hidden px-9 py-8">

    <h3 class="text-xl font-medium text-light">
      {{ title }}
      <br>
      <span class="text-base text-medium">{{ description }}</span>
    </h3>

    <div class="flex justify-center gap-x-6 mt-4">
      <button class="py-1 px-8 font-medium tracking-wide border-black border-2
      bg-light rounded-lg hover:bg-opacity-80 text-black" (click)="handleNo()">
        No
      </button>

      <button class="py-1 px-8 font-medium tracking-wide border-black border-2
      bg-accent rounded-lg hover:bg-accent-dark text-black" (click)="handleYes()">
        Yes
      </button>
    </div>

  </div>
</div>
