<div class="w-full border">
    <style>
        tr {
            height: 50px;
        }

        td {
            min-width: 200px;
        }

    </style>
    <div class="text-white p-5 flex flex-col justify-start items-center bg-dark min-h-[60vh] min-w-[35vw]">
        <table class="text-lg p-5" style="padding: 5%;">
            <tr>
                <td>Signature algorithm: </td>
                <td>SHA256withRSA</td>
            </tr>
            <tr>
                <td>Validity Start: </td>
                <td>{{ today | date: 'dd-MM-yyyy' }}</td>
            </tr>
            <tr *ngIf="!readonly">
                <td>Validity Period: </td>
                <td>
                    <input type="number" min="1" max="10" value="1" class="text-black w-16 mr-2" [(ngModel)]="validityAmount"> 
                    <select name="period" id="period" class="text-black w-16 mr-2" [(ngModel)]="validityUnit">
                      <option value="years">Years</option>
                      <option value="months">Months</option>
                      <option value="days">Days</option>
                    </select>
                    <button (click)="applyValidity()" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border rounded shadow">Apply</button>
                </td>
            </tr>
            <tr>
                <td>Validity End: </td>
                <td><input type="date" class="text-black" [value]="until | date: 'yyyy-MM-dd'" [disabled]="readonly"/></td>
            </tr>
            <tr>
                <td>
                    CSR:
                </td>
                <td>
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow">View csr</button>
                </td>
            </tr>
            <tr>
                <td *ngIf="!readonly">
                    Load for user:
                </td>
                <td *ngIf="readonly">
                    Issued to:
                </td>
                <td>
                    <span>
                        <input type="text" class="text-black w-48 mr-4" [(ngModel)]="email" [disabled]="readonly" *ngIf="!readonly">
                        <button *ngIf="!readonly" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow" (click)="loadForUser()">Load</button>
                        <p *ngIf="readonly">{{email}}</p>
                    </span>
                </td>
            </tr>
            <tr>
                <td *ngIf="!readonly">
                    Choose certificate to sign with:
                </td>
                <td *ngIf="readonly">
                    Signed with:
                </td>
                <td>
                    <select name="level" id="level" class="text-black mr-2 p-1 " [(ngModel)]="hierarchyLevel" [disabled]="readonly">
                        <option value="1">Root</option>
                        <option value="2">First Intermediate</option>
                        <option value="3">Second Intermediate</option>
                    </select>
                </td>
            </tr>
            <tr *ngIf="!readonly">
                <td>
                    Templates:
                </td>
                <td>
                    <select name="template" id="template" class="text-black mr-2" #template (change)="onTemplateSelected(template.value)">
                        <option>CA</option>
                        <option>Code Signing</option>
                    </select>
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow" (click)="loadTemplate()">Load template</button>
                </td>
            </tr>
            <tr *ngIf="addedExtensions.length > 0">
                <td>Extensions:</td>
                <td></td>
            </tr>
            <tr *ngFor="let extension of addedExtensions" class="mt-4">
                <td>
                    {{ extension.name }}
                </td>
                <td>
                    <span>
                        <button *ngIf="!readonly" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-white mr-2  hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow" (click)="editExtension(extension.name)">Edit</button>
                        <button *ngIf="readonly" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="bg-white mr-2  hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow" (click)="editExtension(extension.name)">View</button>
                        <button *ngIf="!readonly" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow" (click)="removeExtension(extension.name)">Remove</button>
                    </span>
                </td>
            </tr>
        </table>
        <app-edit-extension [readonly]="readonly"></app-edit-extension>
        <div class="flex justify-center" *ngIf="!readonly">
            <span class="mt-20">
                <button class="bg-teal-600 w-40 mr-4 hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow" (click)="approveCertificate()">Approve</button>
                <button class="bg-amber-600 w-40 hover:bg-gray-100 text-gray-800 font-semibold py-1 px-1 border border-gray-400 rounded shadow" (click)="approveCertificate()">Deny</button>
            </span>
        </div>
    </div>
</div>
